.container {
    transition: padding-top 0.3s ease-in-out;
}

@media (max-width: 1400px) {
    .card {
        transition: transform 0.3s ease-in-out;
        transform: scale(0.9);
    }
}

@media (max-width: 1200px) {
    .card {
        transition: transform 0.3s ease-in-out;
        transform: scale(0.75);
    }
}

@media (max-width: 576px) {
    .container {
        padding-top: 250px;
        transition: padding-top 0.3s ease-in-out;
    }
}

@media (min-width: 576px) {
    .container {
        padding-top: 10vh;
        transition: padding-top 0.3s ease-in-out;
    }
}

@media (max-width: 559px) {
    .container {
        margin-top: 60px;
        transition: margin-top 0.3s ease-in-out;
    }
}